.menu-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  margin: 15px 15px 0 0;
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
}

.menu-item-container h3 {
  font-size: 18px;
  font-weight: normal;
}
.menu-item-container p {
  font-size: 14px;
  color: #808484;
}

.menu-item-container span {
  font-size: 17px;
  color: #808484;
}
.menu-item-container img {
  width: 130px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
