.menu-container {
  background-color: #f3f5f5;

  display: flex;
}

.category {
  margin-left: 340px;
  border: #f3f5f5 solid 2px;
}

.category:last-child {
  margin-bottom: 80px;
}

.total-card {
  border-top: #d1d7d7 solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total {
  font-weight: bold;
}
