.menu-container {
  background-color: #f3f5f5;
  display: flex;
}

.category {
  margin-left: 340px;
  border: #f3f5f5 solid 2px;
}

.category:last-child {
  margin-bottom: 80px;
}

.total-card {
  border-top: #d1d7d7 solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total {
  font-weight: bold;
}

/* MEDIA QUERIES */

@media (max-width: 1265px) {
  .category {
    margin: 50px 150px;
  }
}

@media (max-width: 1024px) {
  .category {
    margin: 50px 40px;
  }
}

@media (max-width: 768px) {
  .category {
    margin: 50px 30px;
  }
  .menu-container {
    flex-direction: column;
  }
  .category:last-child {
    margin-bottom: 0px;
  }
}
