.restaurant-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 40px 340px;
}

.restaurant-container img {
  border-radius: 10px;
  height: 245px;

  width: 350px;
  object-fit: cover;
  object-position: center;
}

.restaurant-container h2 {
  font-size: 32px;
}

.restaurant-container p {
  font-size: 19px;
  color: #868a8a;
}

/* MEDIA QUERIES */

@media (max-width: 1497px) {
  .restaurant-container h2 {
    font-size: 27px;
  }

  .restaurant-container {
    display: flex;
    flex-direction: column;
  }

  .restaurant-container img {
    height: 200px;
  }
}

@media (max-width: 1075px) {
  .restaurant-container {
    margin: 30px 100px;
  }
}

@media (max-width: 768px) {
  .restaurant-container {
    margin: 30px 10px;
  }

  .restaurant-container h2 {
    font-size: 20px;
  }
  .restaurant-container p {
    font-size: 16px;
  }

  .restaurant-container img {
    height: 150px;
    width: 300px;
  }
}
