.basket {
  height: 190px;
  width: 350px;
  border-radius: 10px;
  margin-right: 340px;
  margin-top: 50px;
  position: sticky;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
}

.basket button {
  width: 320px;
  height: 50px;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: #43ccbc;
  cursor: pointer;
  outline: none;
}
