header {
  height: 59px;
  border-bottom: 1px #f3f5f5 solid;
  display: flex;
  align-items: center;
}
header img {
  height: 46px;
  width: 160px;
  margin-left: 340px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}
