header {
  height: 59px;
  /* border-bottom: 1px rgba(197, 196, 196, 0.945) solid; */
  display: flex;
  align-items: center;
}
header img {
  height: 46px;
  width: 160px;
}

/* header img { }  */
.container {
  width: 1205px;
  margin: 0 auto;
}
